.container {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
}
.videoDetail {
  width: 50%;
  height: 100vh;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
}
.video {
  width: 100%;
  height: 70%;
}
.metadata {
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.125rem;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
.channel {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.channel_image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.channel_text {
  margin-left: 15px;
}
.channel_title {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 540;
}
.channel_subscribers {
  font-size: 0.8rem;
  color: gray;
}
.actived {
  width: 100%;
  margin-top: 10px;
  white-space: pre-wrap;
  font-size: 0.9rem;
  line-height: 20px;
}

.inactived {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  line-height: 20px;
}

.moreBtn {
  margin-top: 15px;
  color: gray;
  cursor: pointer;
  font-size: 0.9rem;
  width: fit-content;
}
.moreBtn:hover {
  cursor: pointer;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  flex: 1 1 40%;
  margin-right: 50px;
}
