.container {
  transition: transform 0.25s ease-in;
  padding: 0.4em;
  cursor: pointer;
}
.container:hover {
  transform: scale(1.06);
}
.container.grid {
  width: 25%;
  /* height: 100%; */
}
.container.list {
  width: 100%;
}

.video.list {
  display: flex;
}

.thumbnail {
  position: relative;
  margin-bottom: 10px;
}
.thumbnail.list {
  width: 50%;
}
.thumbnail.grid {
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
}
.actived {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inactived {
  display: none;
}
.playIcon {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.metadata.list {
  margin-left: 10px;
  width: 50%;
}
.title {
  margin-top: 12px;
  font-size: 0.86rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.channel {
  margin-top: 8px;
  color: gray;
  font-size: 0.86rem;
  margin-bottom: 5px;
}
