.loading-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-box img {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
.loading-box h1 {
  color: black;
}
