.video {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.video-thumbnail-box {
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
}
.video-thumbnail-img {
  width: 100%;
  height: 100%;
}

.video-title {
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* background-color: yellow; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
