.videoDetail {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.videoDetail-videoBox {
  width: 50%;
  height: 100vh;
  margin-right: 25px;
}
.videoDetail-video {
  width: 100%;
  height: 56%;
}
.videoDetail-info {
  display: flex;
  flex-direction: column;
}
.videoDetail-info-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.125rem;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
.videoDetail-info-description {
  width: 100%;
  margin-top: 10px;
  white-space: pre-wrap;
  font-size: 0.9rem;
  line-height: 20px;
}
.inactive {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.videoDetail-videos {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
}

.moreBtn {
  margin-top: 10px;
  color: gray;
  cursor: pointer;
  font-size: 0.9rem;
  width: fit-content;
}
.moreBtn:hover {
  cursor: pointer;
}
