.container {
  display: flex;
  align-items: flex-start;
  margin: 0.2em;
  transition: transform 0.2s ease-in;
}
.container:hover {
  transform: scale(1.06);
}
.image {
  width: 45%;
  margin-right: 5px;
}
.metadata {
}
.title {
  font-size: 0.88rem;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.channel {
  font-size: 0.8rem;
  color: gray;
}
